version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs_web
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - llm
    networks:
      - app_network

  llm:
    build:
      context: ./python-script
      dockerfile: Dockerfile
    container_name: llm_service
    ports:
      - "8000:8000"
    env_file:
      - ./python-script/.env
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
